html{background-color: white;}

body {
    /* style */
    width: 90%;
    margin: auto;
    background-color: white;
    display:flex;
    
}
h1 {
    /* style */
    font-size: 4em;
    margin-top: 0em;
    margin-bottom: 0em;
    
}

header img {
    /* style */
    width: 4em;
    height: 4em;
    padding-left: 2em;
    padding-right: 2em;
}
#right {
    
    flex-grow : 1;
    text-align: right;
}

#left {
   
    flex-grow : 1;
    display: flex;
    align-items: center;
   
}
