.title {

}
html{background-color: white;}

header{
    background-color: rgb(240, 2, 2);
}
body {
    /* style */
    width: 90%;
    margin: auto;
    background-color: white;
    display:flex;
    
}
h1 {
    /* style */
    font-size: 4em;
    margin-top: 0em;
    margin-bottom: 0em;
    
}

