html{background-color: white;}

body {
    
    width: 90%;
    margin: auto;
    background-color: white;
    display:flex;
    align-items:flex-start;
    
}
h1 {
    display : flex;
    font-size: 4em;
    margin-top: 0em;
    margin-bottom: 0em;
    
}


#right {
    display :flex;
    
    text-align: right;
}

#left {
    display:flex;
    text-align: left;
    
    align-items: left;
   
}
liste_des_produits{
    display : flex;
    align-items: left;
    flex-direction: column;
}
container1{
    display:flex;
    flex-direction: row;
    gap : 10px
}

container2{
    display: flex;
    flex-direction:row;
    gap:10px;
}

container3{
    display: flex;
    flex-direction:row;
    gap:10px;
}
container4{
    display: flex;
    flex-direction:row;
    gap:10px;
}